/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*Color Palette*/

:root {
  --color-primary: #006766;
  --color-primary-lt: #449593;
  --color-secondary: #77AEAD;  
  --color-primary-dk: #2B3B3A;
  --color-yellow: #FFBC01;
  --color-coral: #FD8561;
  --color-white: #ffffff; 
  --color-grey-lt : #F6F8FA;
  --color-grey-md : #D0D7DE;
}

/*Reset*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: var(--color-primary-dk);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--color-primary-lt);
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}