/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/*Color Palette*/

:root {
  --color-primary: #006766;
  --color-primary-lt: #449593;
  --color-secondary: #77AEAD;  
  --color-primary-dk: #2B3B3A;
  --color-yellow: #FFBC01;
  --color-coral: #FD8561;
  --color-white: #ffffff; 
  --color-grey-lt : #F6F8FA;
  --color-grey-md : #D0D7DE;
}

/*Reset*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: var(--color-primary-dk);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--color-primary-lt);
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}


/* Header */
.main-header {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}
.container{
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
/*header-topbar*/

.header-topbar{
  background-color: var(--color-primary-lt);
  color: #ffffff;
  padding: 10px 0;
}

/* #listOfStates::before{
font-family: "Font Awesome 6 Free";
font-weight: 900;
content: "\f3c5";
} */